/**
 * Admin styles.
 * @package Viral Sign Up
 */

/*= Admin Wrap
----------------------------------------------------------------------------- */
.vsu-admin-wrap{
    position: relative;
    width: 1060px;
    padding-top: 20px;
    margin-bottom: 40px;
    font: 18px/1.33 "Helvetica Neue", Lato, Arial, sans-serif;
    color: #39455b;
}
.vsu-admin-wrap p{
    font: inherit;
    line-height: 31px;
}
.vsu-admin-wrap h1{
    font-size: 36px;
    font-weight: 300;
    color: inherit;
}
.vsu-admin-wrap h2{
    color: inherit;
}
.vsu-admin-wrap h3{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    color: inherit;
}
.vsu-admin-wrap a{
    color: #299cd1;
    text-decoration: underline;
}
.vsu-admin-wrap .wp-color-result{
    text-decoration: none;
}
.vsu-admin-wrap input,
.vsu-admin-wrap button,
.vsu-admin-wrap select,
.vsu-admin-wrap textarea{
    outline: none;
    box-shadow: none;
    font-weight: 300;
}
.vsu-admin-wrap p{
    margin-top: 0;
}

/* Header */
.vsu-admin-wrap .vsu-admin-header{
    position: relative;
    padding: 23px 20px 16px 8px;
    background-color: #39455b;
    font: 0/0 a;
}
.vsu-admin-wrap .vsu-admin-logo{
    width: 367px
}

/* Admin Inner */
.vsu-admin-wrap .vsu-admin-wrap-inner{
    position: relative;
    min-height: 600px;
    background-color: #fff;
}

/* Layout */
.vsu-admin-wrap .vsu-admin-col-half{
    float: left;
    width: 48%;
    margin-left: 3.9999%;
}
.vsu-admin-wrap .vsu-admin-row > .vsu-admin-col-half:first-child{
    margin-left: 0;
}

/* Navigation */
.vsu-admin-wrap .vsu-admin-navigation-wrap{
    float: left;
    width: 150px;
    padding-top: 36px;
    background-color: #dcdfe5;
}
.vsu-admin-wrap .vsu-admin-navigation-wrap:before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: 100%;
    background-color: #dcdfe5;
    z-index: 5;
    content: '';
}
.vsu-admin-wrap .vsu-admin-navigation{
    position: relative;
    margin: 0;
    border-top: 1px solid #b7bac0;
    z-index: 10;
    list-style: none;
}
.vsu-admin-wrap .vsu-admin-navigation li{
    margin-bottom: 0;
}
.vsu-admin-wrap .vsu-admin-navigation a{
    display: block;
    padding: 11px 8px 10px 19px;
    border-bottom: 1px solid #b7bac0;
    text-decoration: none;
    font-size: 14px;
    color: #39455b;
}
.vsu-admin-wrap .vsu-admin-navigation li:hover > a,
.vsu-admin-wrap .vsu-admin-navigation li.vsu-admin-active > a{
    background-color: #b7bac0;
}
.vsu-admin-wrap .vsu-admin-navigation li:hover .vsu-admin-button,
.vsu-admin-wrap .vsu-admin-navigation .vsu-admin-button{
    margin: 5px;
    padding: 11px 3px;
    background-color: #31BA8B;
    text-align: center;
    color: #FFF;
}
.vsu-admin-wrap .vsu-admin-navigation li:hover .vsu-admin-button{
    background-color: #2FB184;
}

/* Main Content */
.vsu-admin-wrap .vsu-admin-main-content{
    float: left;
    width: 841.999px;
    padding: 20px 34px 40px;
}
.vsu-admin-wrap .vsu-admin-section{
    display: none;
}

/* Section Heading */
.vsu-admin-wrap .vsu-admin-section-heading{
    min-height: 76px;
    margin-bottom: 20px;
    padding: 15px 0 5px;
    border-bottom: 1px solid #B7BAC0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}
.vsu-admin-wrap .vsu-admin-section-title{
    margin: 0;
    font-size: 36px;
    line-height: 40px;
}
.vsu-admin-wrap .vsu-admin-section-desc{
    margin: 0;
    line-height: 1.3;
}

/* Branding */
.vsu-admin-wrap .vsu-admin-branding{
    display: block;
    position: relative;
    margin-bottom: 31px;
    padding-left: 128px;
    text-decoration: none;
    color: inherit;
}
.vsu-admin-wrap .vsu-admin-branding:hover,
.vsu-admin-wrap .vsu-admin-branding:focus{
    text-decoration: none;
}
.vsu-admin-wrap .vsu-admin-branding:before{
    display: block;
    position: absolute;
    width: 127px;
    height: 127px;
    left: 1px;
    top: -1px;
    background: url(../img/stripe.png) no-repeat -76px 0;
    content: '';
}
.vsu-admin-wrap .vsu-branding{
    padding-top: 10px;
    margin-bottom: 30px;
    font: 0/0 a;
}
.vsu-admin-wrap .vsu-branding .vsu-admin-logo{
    width: auto;
}

/* Fields */
.vsu-admin-wrap label,
.vsu-admin-wrap .vsu-admin-label{
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: -1px;
}
.vsu-admin-wrap input[type="text"]:not(.wp-color-picker):not(.vsu-email-field),
.vsu-admin-wrap input[type="text"]:not(.wp-color-picker):not(.vsu-email-field)[readonly]:focus,
.vsu-admin-wrap input[type="password"],
.vsu-admin-wrap input[type="email"],
.vsu-admin-wrap input[type="number"],
.vsu-admin-wrap select,
.vsu-admin-wrap textarea,
.vsu-admin-wrap .vsu-admin-filters{
    width: 376px;
    max-width: 100%;
    margin-right: 15px;
    padding: 10px 19px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f0eff2;
    outline: none;
    font-size: 18px;
    line-height: 1;
    color: #91A0BD;
    vertical-align: middle;
}
.vsu-admin-wrap input[type="text"]:not(.wp-color-picker):not(.vsu-email-field):focus,
.vsu-admin-wrap input[type="password"]:focus,
.vsu-admin-wrap input[type="email"]:focus,
.vsu-admin-wrap input[type="number"]:focus,
.vsu-admin-wrap select:focus,
.vsu-admin-wrap textarea:focus{
    box-shadow: none;
    border-color: #B7BAC0;
}
.vsu-admin-wrap input[type="text"][readonly]{
    cursor: pointer;
}
.vsu-admin-wrap select{
    height: 45px;
}
.vsu-admin-wrap input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.vsu-admin-wrap input[type=checkbox]:checked:before{
    margin: -2px 0 0 -3px;
}
.vsu-admin-wrap input[type="text"]:not(.wp-color-picker):not(.vsu-email-field).vsu-admin-input-small{
    margin-right: 0;
    width: 54px;
    padding: 6px;
    font-size: 24px;
    color: inherit;
    text-align: center;
}
.vsu-admin-wrap input[type="text"]:not(.wp-color-picker):not(.vsu-email-field).vsu-admin-input-long,
.vsu-admin-wrap textarea.vsu-admin-input-long{
    display: block;
    width: 100%;
}
.vsu-admin-wrap textarea{
    line-height: 24px;
}
.vsu-admin-wrap .vsu-admin-status,
.vsu-admin-wrap .vsu-admin-tickbox{
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #f0eff2 url('../img/stripe.png') no-repeat -209px 10px;
    vertical-align: middle;
}
.vsu-admin-wrap .vsu-admin-field{
    margin-bottom: 11px;
}
.vsu-admin-wrap .vsu-admin-field-desc{
    font-size: 13px;
    line-height: 1.4;
}
.vsu-admin-wrap .vsu-admin-submit{
    margin-top: 15px;
}
.vsu-admin-wrap input[type="submit"],
.vsu-admin-wrap .vsu-admin-button{
    display: inline-block;
    padding: 14px 29px 11px;
    border-radius: 4px;
    border: 0;
    background-color: #31ba8b;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.vsu-admin-wrap input[type="submit"]:hover,
.vsu-admin-wrap input[type="submit"]:active,
.vsu-admin-wrap input[type="submit"]:focus,
.vsu-admin-wrap .vsu-admin-button:hover,
.vsu-admin-wrap .vsu-admin-button:active,
.vsu-admin-wrap .vsu-admin-button:focus{
    background-color: #2FB184;
}
.vsu-admin-wrap .vsu-admin-button.vsu-admin-button-secondary{
    padding: 15px 33px 12px;
    border: 1px solid #F0EFF2;
    background-color: rgba(0, 0, 0, 0);
    color: #39455b;
}
.vsu-admin-wrap .vsu-admin-button.vsu-admin-button-secondary:hover,
.vsu-admin-wrap .vsu-admin-button.vsu-admin-button-secondary:active,
.vsu-admin-wrap .vsu-admin-button.vsu-admin-button-secondary:focus{
    border-color: #B7BAC0;
}
.vsu-admin-wrap .vsu-admin-subtitle{
    margin-top: 33px;
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 1.33;
}

/* Custom Checkbox */
.vsu-admin-wrap .vsu-admin-custom-checkbox{
    display: none;
}

/* Tickbox */
.vsu-admin-wrap .vsu-admin-tickbox{
    margin-left: 18px;
    cursor: pointer;
}

/* Labels */
.vsu-admin-wrap .vsu-admin-label-small{
    font-size: 18px;
}

/* Sign Up Form Preview */
#vsu-admin-signup-form-preview{
    padding: 19px 20px 27px 20px;
    border-radius: 4px;
    border: 1px solid #f0eff2;
}
#vsu-admin-signup-form-preview .vsu-admin-preview-title{
    margin-bottom: 15px;
}

/* Color Pickers */
.vsu-admin-wrap .wp-picker-holder{
    position: relative;
}
.vsu-admin-wrap .iris-picker{
    position: absolute;
}
.vsu-admin-wrap .wp-picker-holder,
.vsu-admin-wrap .wp-picker-holder *{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

/* Loader */
.vsu-admin-wrap .vsu-admin-loader{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 50;
}
.vsu-admin-wrap .vsu-admin-loader-text{
    width: 128px;
    height: 128px;
    margin: 300px auto 0;
    background: url(../img/loader.GIF) no-repeat center center;
    font: bold 12px/128px Lato;
    text-transform: uppercase;
    text-align: center;
}
.vsu-admin-wrap .vsu-admin-field-verify{
    width: 340px !important;
}
.vsu-admin-wrap .vsu-admin-field-verify[data-vsu-admin-state="verified"] + .vsu-admin-status,
.vsu-admin-wrap input[type="checkbox"]:checked + .vsu-admin-tickbox{
    background-color: #2FB184;
}
.vsu-admin-wrap .vsu-admin-field-verify[data-vsu-admin-state="unverified"] + .vsu-admin-status{
    background-color: #B12F2F;
}
.vsu-admin-wrap .vsu-admin-field-verify[data-vsu-admin-state="limit_reached"] + .vsu-admin-status{
    background-color: #f6c443;
    background-position: -241px 7px;
}
.vsu-admin-wrap .vsu-admin-upgrade-text{
    display: none;
    padding: 0 12px;
    vertical-align: middle;
}
.vsu-admin-wrap .vsu-admin-field-verify[data-vsu-admin-state="limit_reached"] + .vsu-admin-status + .vsu-admin-upgrade-text{
    display: inline-block;
}

/* StepInfo Field */
.vsu-admin-wrap .vsu-admin-stepinfo p{
    line-height: inherit;
}
.vsu-admin-wrap .vsu-admin-stepinfo-number-wrap{
    margin-bottom: 15px;
}
.vsu-admin-wrap .vsu-admin-stepinfo-number{
    display: inline-block;
    width: 42px;
    height: 40px;
    padding: 7px 5px 5px;
    border-radius: 50%;
    background-color: #299cd1;
    font: bold 48px/35px Lato;
    color: #fff;
    text-align: center;
}

/* See Variables */
.vsu-admin-wrap .vsu-admin-see-variables table{
    display: none;
    margin-top: 1em;
    width: 100%;
    font-size: 13px;
}
.vsu-admin-wrap .vsu-admin-see-variables table th{
    text-align: left;
    font-weight: bold;
}
.vsu-admin-wrap .vsu-admin-see-variables table th,
.vsu-admin-wrap .vsu-admin-see-variables table td{
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #f0eff2;
    vertical-align: top;
}

/* Email Responders */
.vsu-admin-wrap #vsu-admin-section-autoresponders .vsu-admin-col-half{
    width: 500px;
    margin-left: 35px;
}
.vsu-admin-wrap #vsu-admin-section-autoresponders .vsu-admin-row > .vsu-admin-col-half:first-child{
    width: 306.9999px;
    margin-left: 0;
}
.vsu-admin-wrap #vsu-admin-section-autoresponders .vsu-admin-row{
    margin-bottom: 83px;
}
.vsu-admin-wrap #vsu-admin-section-autoresponders .vsu-admin-field + .vsu-admin-row{
    margin-top: 40px;
}

/* Email 3 Preview */
#vsu-admin-email-3-preview{
    margin-bottom: 20px;
}

/* SignUps Section */
.vsu-admin-wrap #vsu-admin-section-signups .vsu-admin-section-title{
    float: left;
    margin-right: 65px;
}
.vsu-admin-wrap #vsu-admin-section-signups .vsu-admin-section-desc{
    font-size: 24px;
    font-weight: 400;
    line-height: 57px;
}
.vsu-admin-wrap .vsu-admin-total-signups-number,
.vsu-admin-wrap .vsu-admin-total-shared-number{
    padding: 0 0.15em;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    vertical-align: top;
}
.vsu-admin-wrap .vsu-admin-total-signups-number{
    color: #31BA8B;
}
.vsu-admin-wrap .vsu-admin-total-shared-number{
    color: #299cd1;
}
.vsu-admin-wrap #vsu-admin-section-signups .vsu-admin-subtitle{
    margin-bottom: 20px;
}
.vsu-admin-wrap .vsu-admin-signups-header{
    margin-bottom: 8px;
}

/* Filter */
.vsu-admin-wrap .vsu-admin-filters{
    width: auto;
    margin-right: 0;
    padding: 6px 5px 6px 16px;
    color: #39455B;
}
.vsu-admin-wrap .vsu-admin-filters #vsu-admin-signup-filter-form > *:not(:last-child){
    display: inline-block;
    margin-right: 5px;
}
.vsu-admin-wrap .vsu-admin-filters select,
.vsu-admin-wrap .vsu-admin-filters input[type="text"]:not(.wp-color-picker):not(.vsu-email-field).vsu-admin-input-small{
    height: 30px;
    padding: 4px 5px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
}
.vsu-admin-wrap .vsu-admin-filters select{
    width: auto;
    line-height: 10px;
}
.vsu-admin-wrap .vsu-admin-filters .vsu-admin-button.vsu-admin-filter{
    padding: 8px 20px;
    background-color: #299CD1;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
}

/* Export Button */
.vsu-admin-wrap .vsu-admin-signups-header .vsu-admin-button{
    float: right;
    padding: 14px 31px 13px;
}

/* Sign Ups Table */
.vsu-admin-wrap .vsu-admin-signups-table{
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
    font-size: 14px;
}
.vsu-admin-wrap .vsu-admin-signups-table th{
    padding: 9px 20px;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}
.vsu-admin-wrap .vsu-admin-signups-table td{
    padding: 2px 20px;
}
.vsu-admin-wrap .vsu-admin-signups-table tbody tr:nth-child(odd){
    background-color: #f5f7fb;
}
.vsu-admin-wrap .vsu-admin-signups-table td a{
    text-decoration: none;
    color: inherit;
}
.vsu-admin-wrap .vsu-admin-referred-count{
    display: inline-block;
    box-sizing: border-box;
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    border-radius: 4px;
    background-color: #299cd1;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
}
.vsu-admin-wrap .vsu-signups-footer{
    text-align: center;
}

/* Sign Up Page | state loading */
.vsu-admin-wrap #vsu-admin-section-signups.vsu-state-total-loading .vsu-admin-total-signups-number,
.vsu-admin-wrap #vsu-admin-section-signups.vsu-state-total-loading .vsu-admin-total-shared-number{
    display: inline-block;
    width: 24px;
    height: 24px;
    font: 0/0 a;
    background: url(../img/preloader_small.GIF) no-repeat center center;
    vertical-align: middle;
}
.vsu-admin-wrap #vsu-admin-section-signups.vsu-state-loading .vsu-signups-footer{
    height: 200px;
    background: url(../img/preloader.GIF) no-repeat center center;
}
.vsu-admin-wrap #vsu-admin-section-signups.vsu-state-loading .vsu-signups-footer .vsu-admin-load-more-button,
.vsu-admin-wrap #vsu-admin-section-signups.vsu-state-loading .vsu-admin-signups-table{
    display: none;
}

/*= Clearing
----------------------------------------------------------------------------- */
.vsu-admin-wrap .vsu-admin-wrap-inner:before,
.vsu-admin-wrap .vsu-admin-wrap-inner:after,
.vsu-admin-wrap .vsu-admin-branding:before,
.vsu-admin-wrap .vsu-admin-branding:after,
.vsu-admin-wrap .vsu-admin-row:before,
.vsu-admin-wrap .vsu-admin-row:after,
.vsu-admin-wrap .vsu-admin-section-heading:before,
.vsu-admin-wrap .vsu-admin-section-heading:after,
.vsu-admin-wrap .vsu-admin-signups-header:before,
.vsu-admin-wrap .vsu-admin-signups-header:after{
    content: "";
    display: table;
}
.vsu-admin-wrap .vsu-admin-wrap-inner:after,
.vsu-admin-wrap .vsu-admin-branding:after,
.vsu-admin-wrap .vsu-admin-row:after, 
.vsu-admin-wrap .vsu-admin-section-heading:after,
.vsu-admin-wrap .vsu-admin-signups-header:after{
    clear: both;
}

/*= Transitions
----------------------------------------------------------------------------- */
.vsu-admin-wrap a,
.vsu-admin-wrap input,
.vsu-admin-wrap .vsu-admin-status,
.vsu-admin-wrap .vsu-admin-loader,
.vsu-admin-wrap .vsu-admin-tickbox{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}